<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}


<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <h3>Количество всех новостей {{ posts|length }}</h3>
    <h3> {{ next_news|default_if_none:"Чуть позже сообщим о новостях!" }} </h3>
    {% if posts %}
        <table>
            <tr>
                <td>Название</td>
                <td>Дата публикации</td>
                <td>Описание</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.post_title }}</td>
                <td>{{ post.post_creation|date:'M d Y' }}</td>
                <td>{{ post.post_text|truncatechars:20|abusive }}</td>
            </tr>
            {% endfor %}
       </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}





















